/*1.字体设置部分 */
:root {
  /* 英文 Times；中文优先思源宋体 / Noto Serif */
  --md-text-font: "Times New Roman", "STSong", "SimSun", serif;
  --md-code-font: "JetBrains Mono", "Consolas", monospace;
}

/* 正文字体 */
.md-typeset {
  font-size: 1.10rem;  /* 原来太小，这里明显更舒服 */
  line-height: 1.5;
}
/* 右侧目录字体 */
.md-sidebar--secondary .md-nav__link {
  font-size: 1em;
}
/* 顶部导航栏（首页 数学 物理...）字体*/
.md-tabs__link {
  font-size: 1rem;
}
/* 左侧导航栏字体 */
.md-nav__link {
  font-size: 1rem;
}
/* 面包屑/当前位置的“首页”加粗 */
.md-path__link {
  font-weight: 700;
}
/* 右侧目录字体 */
.md-sidebar--secondary .md-nav__link {
  font-size: 1rem;
}
/* 网站标题字体（左上角“沉迷摸鱼的心理世界”） */
.md-header__title {
  font-size: 1.4rem;
}
/* 右上角搜索框字体 */
.md-search__input {
  font-size: 1rem;
}
/* 右侧目录条目字体也稍微大一点 */
.md-sidebar--secondary .md-nav__link {
  font-size: 1rem;
}




/*2.宽度设置部分*/
/* 更大的标题 + 留白 */
.md-typeset h1 {
  font-size: 2.2rem;
  margin: 0.6em 0 0.6em;
}
.md-typeset h2 {
  font-size: 1.4rem;
  margin: 1.6em 0 0.6em;
}
.md-typeset h3 {
  font-size: 1.25rem;
  margin: 1.2em 0 0.4em;
}
/* ===== 顶部蓝色栏（Header） ===== */
.md-header {
  height: 4.2rem;              
}
.md-header__inner {
  height: 4.2rem;
  padding: 0 1rem;
}
/* 列表不要挤在一起 */
.md-typeset ul li,
.md-typeset ol li {
  margin: 0.35em 0;
}
/* 页面宽度 */
.md-grid {
  max-width: 2000px;   /* 你想更宽就调大，比如 1200px */
}
.md-tabs {
  height: 3.2rem;
}
/*  侧边栏宽度 */
.md-sidebar {
  width: 15rem;
}

/*3.提示内容调整*/
/* ===== 标题条 ===== */
.md-typeset .admonition> .admonition-title,
.md-typeset details > summary {
  padding: 1.0rem 1.05rem ;  /* 上下+左右留白 */
  line-height: 1.05 ;
}
.md-typeset .admonition {
  border-width: 2px;
  border-radius: 14px;
}
/* 让提示框文字 */
.md-typeset .admonition,
.md-typeset details {
  font-size: 0.9rem;
}
/* ===== 修复提示框标题栏：图标垂直居中 ===== */
.md-typeset .admonition-title,
.md-typeset summary {
  display: flex;
  align-items: center;   /* 垂直居中 */
  gap: 0.6rem;    /* 图标和文字的距离 */
  font-size: 0.9rem;     
}
/* 图标大小和对齐 */
.md-typeset .admonition-title::before,
.md-typeset summary::before {
  position: static ;  /* 取消绝对定位 */
  transform: none ;
  margin: 0 ;
  width: 1.2em;
  height: 1.2em;
  flex: 0 0 auto;
}

/*4.其余*/
/* 代码块更圆润一点（可选） */
.md-typeset pre {
  border-radius: 12px;
}
